@{
    ViewData["Title"] = "Payment";
}
<div class="container" style="text-align:center; margin-left:300px">
    <div>
        <div id="checkout" style="text-align:center">
            <div id="checkout_wrapper"></div>
        </div>
    </div>
    <script src="https://pay.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
    <script>
function checkoutInit(url) {
	$ipsp('checkout').scope(function() {
		this.setCheckoutWrapper('#checkout_wrapper');
		this.addCallback(__DEFAULTCALLBACK__);
		this.action('show', function(data) {
			$('#checkout_loader').remove();
			$('#checkout').show();
		});
		this.action('hide', function(data) {
			$('#checkout').hide();
		});
		this.action('resize', function(data) {
			$('#checkout_wrapper').width(480).height(data.height);
		});
		this.loadUrl(url);
	});
};
var button = $ipsp.get("button");
button.setMerchantId(1396424);
button.setAmount(75, 'UAH', true);
button.setHost('pay.fondy.eu');
checkoutInit(button.getUrl());
    </script> 
</div>