@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--main-->
<div id="u588" class="ax_default box_1">
	<div id="u588_div" class=""></div>
	<div id="u588_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- +Email (Text Field) -->
<div id="u629" class="ax_default text_field" data-label="+Email">
	<div id="u629_div" class=""></div>
	<input id="u629_input" type="email" value="" placeholder="Логін" class="u629_input" />
</div>

<!-- +Password1 (Text Field) -->
<div id="u630" class="ax_default text_field" data-label="+Password1">
	<div id="u630_div" class=""></div>
	<input id="u630_input" type="password" value="" placeholder="Пароль" class="u630_input" />
</div>

<!--checkbox-->
<div id="u627" class="ax_default checkbox">
	<div id="u627_input_label" for="u627_input" style="position: absolute; left: 0px;">
		<input type="checkbox" name="remember" value="a2"> Запам'ятати мене
	</div>
	<input id="u627_input" type="checkbox" value="checkbox" />
</div>

<!-- forget -->
<div id="u628" class="ax_default label">
	<div id="u628_div" class=""></div>
	<div id="u628_text" class="text ">
		<p><span><a href="../Forget/ForgetIndex">Забули пароль?</a></span></p>
	</div>
</div>

<!-- login exs -->
<div id="u590" class="ax_default button">
	<div id="u590_div" class=""></div>
	<div id="u590_text" class="text ">
		<p><span>Увійти</span></p>
	</div>
</div>

<div id="u436" class="ax_default">

	<!-- Unnamed (Rectangle) -->
	<div id="u437a" class="ax_default heading_3">
		<div id="u437a_div" class=""></div>
		<div id="u437a_text" class="text ">
			<p><span>Вхід через Google</span></p>
		</div>
	</div>

	<!-- Unnamed (Rectangle) -->
	<div id="u438a" class="ax_default box_1">
		<div id="u438a_div" class=""></div>
		<div id="u438a_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!-- Unnamed (Image) -->
	<div id="u439a" class="ax_default image">
		<img id="u439a_img" class="img " src="" />	<!--ВСТАВИТЬ ФОТО гугл -->
		<div id="u439a_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>
</div>

<!-- Unnamed (Shape) -->
<div id="u591" class="ax_default icon">
	<img id="u591_img" class="img " src="" />  <!--ВСТАВИТЬ ФОТО логин -->
	<div id="u591_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- Unnamed (Shape) -->
<div id="u589" class="ax_default icon">
	<img id="u589_img" class="img " src="" /> <!--ВСТАВИТЬ ФОТО пароль -->
	<div id="u589_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>