@model Quizability.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Registration Page";
}

<!-- registr -->
<div id="u489" class="ax_default heading_1">
    <div id="u489_div" class=""></div>
    <div id="u489_text" class="text ">
        <p><span>Реєстрація</span></p>
    </div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u425" class="ax_default box_1">
    <div id="u425_div" class=""></div>
    <div id="u425_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
</div>
<!-- Unnamed (Shape) -->
<div id="u426" class="ax_default icon">
    <img id="u426_img" class="img " src="~/images/login.png" />		<!--фото логина-->
    <div id="u426_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u427" class="ax_default icon">
    <img id="u427_img" class="img " src="~/images/password1.png" />		<!--фото пароля-->
    <div id="u427_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
</div>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <!--Вывод ошибок ввода-->
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <!-- +Login field (Text Field) -->
    <div id="u429" class="ax_default text_field">
        <div id="u429_div" class=""></div>
        <input id="u429_input" type="text"  asp-for="Name" value="" placeholder="Псевдонім" class="u429_input" />
        <span asp-validation-for="Name" />
    </div>

    <!-- +Email (Text Field) -->
    <div id="u428" class="ax_default text_field" data-label="+Email">
        <div id="u428_div" class=""></div>
        <input id="u428_input" type="email" asp-for="Email" value="" placeholder="Email" class="u428_input" />
        <span asp-validation-for="Email" />
    </div>

    <!-- +Password1 (Text Field) -->
    <div id="u434" class="ax_default text_field" data-label="+Password1">
        <div id="u434_div" class=""></div>
        <input id="u434_input" type="password" asp-for="Password" value="" placeholder="Пароль" class="u434_input" />
        <span asp-validation-for="Password" />

    </div>

    <!-- +Password2 (Text Field) -->
    <div id="u435" class="ax_default text_field" data-label="+Password2">
        <div id="u435_div" class=""></div>
        <input id="u435_input" type="password" asp-for="ConfirmPassword" value="" placeholder="Підтвердіть пароль" class="u435_input" />
        <span asp-validation-for="ConfirmPassword" />
    </div>

    <button id="u453" class="ax_default button">
        <div id="u453_div" class=""></div>
        <div id="u453_text" class="text ">
            <input type="submit" value="Регистрация" class="btn" />
        </div>
    </button>

</form>

<!-- Unnamed (Shape) -->
<div id="u430" class="ax_default icon">
    <img id="u430_img" class="img " src="~/images/email.png" />   <!--ВСТАВИТЬ ФОТО имэйл-->
    <div id="u430_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u431" class="ax_default icon">
    <img id="u431_img" class="img " src="~/images/password2.png" /><!--ВСТАВИТЬ ФОТО подтвердить пароль-->
    <div id="u431_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u432" class="ax_default label">
    <div id="u432_div" class=""></div>
    <div id="u432_text" class="text ">
        <p><span>Вже є аккаунт?</span></p>
    </div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u433" class="ax_default label">
    <div id="u433_div" class=""></div>
    <div id="u433_text" class="text ">
        <p><span><a href="~/Account/Login">Увійти</a></span></p>
    </div>
</div>

<div id="u436" class="ax_default">

    <!-- Unnamed (Rectangle) -->
    <button id="u437a" class="ax_default heading_3">
        <div id="u437a_div" class=""></div>
        <div id="u437a_text" class="text ">
            <p><span><a href="GoogleLogin">Вхід через Google</a></span></p>
        </div>
    </button>

    <!-- Unnamed (Rectangle) -->
    <div id="u438a" class="ax_default box_1">
        <div id="u438a_div" class=""></div>
        <div id="u438a_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u439a" class="ax_default image">
        <img id="u439a_img" class="img " src="~/images/google.png" />	<!--ВСТАВИТЬ ФОТО гугл -->
        <div id="u439a_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>

<!-- Unnamed (Rectangle) -->
