 <!-- main -->
<div id="u312" class="ax_default box_1">
	<div id="u312_div" class="">
	</div>
</div>

<!-- timer photo -->
<div id="u317" class="ax_default icon">
	<img id="u317_img" class="img " src="~/Images/u317.svg" />
</div>

<!-- TIMER -->
<div id="u318" class="ax_default heading_2">
	<p><span>ТАЙМЕР</span></p>
</div>

<!-- Quiz NamE -->
<div id="u314" class="ax_default heading_1">
	<p><span>Вікторина &quot;НАЗВАНИЕ&quot;</span></p>
</div>

<!-- quiz Photo -->
<div id="u315" class="ax_default placeholder">
	<img id="u315_img" class="img " src="/images/QuizImages/cplusimage.png" />  <!-- тут ФОТО -->
</div>

<!-- question -->
<div id="u313" class="ax_default paragraph">
	<p><span>Тут вопрос. Тут вопрос. Тут вопрос. Тут вопрос. Тут вопрос. Тут вопрос. Тут вопрос. </span></p>
</div>
<form>
	<div id="options">
		<p>
			<label class="radio"><input type="radio" name="opt"><span></span> Вариант 1</label><br /><br />
			<label class="radio"><input type="radio" name="opt"><span></span> Вариант 2</label><br /><br />
			<label class="radio"><input type="radio" name="opt"><span></span> Вариант 3</label><br /><br />
			<label class="radio"><input type="radio" name="opt"><span></span> Вариант 4</label><br /><br />
		</p>
	</div>
</form>