 <!-- head -->
<div id="u1657" class="ax_default box_2">
	<div id="u1657_div" class=""></div>
</div>

<!-- result in head -->
<div id="u1658" class="ax_default heading_2">
	<p><span>Ваш результат:&nbsp; XX балів</span></p>
</div>

<!-- second head -->
<div id="u1757" class="ax_default box_2">
	<div id="u1757_div" class=""></div>
</div>

<!-- text in 2head -->
<div id="u1758" class="ax_default heading_1">
	<p><span>Загальний рейтинг гравців</span></p>
</div>

<!-- table body -->
<div id="u1690" class="ax_default box_1">
	<div id="u1690_div" class=""></div>
</div>

