<!-- Unnamed (Rectangle) -->
<div id="u1655" class="ax_default box_2">
	<div id="u1655_div" class=""></div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1656" class="ax_default heading_1">
		<p><span>Вікторина &quot;НАЗВАНИЕ. НАЗВАНИЕ&quot;</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1654" class="ax_default box_1">
	<div id="u1654_div" class=""></div>
</div>



<!-- Unnamed (Rectangle) -->
<div id="u1761" class="ax_default heading_2">
	<p><span>Наданий час: XX хв</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1760" class="ax_default heading_2">
	<p><span>Затрачений час: XX хв</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1759" class="ax_default heading_2">
	<p><span>Правильні відповіді: XX/XX</span></p>
</div>



<!-- head -->
<div id="u1657" class="ax_default box_2">
	<div id="u1657_div" class=""></div>
</div>

<!-- result in head -->
<div id="u1658" class="ax_default heading_2">
	<p><span>Ваш результат:&nbsp; XX балів</span></p>
</div>

<!-- second head -->
<div id="u1757" class="ax_default box_2">
	<div id="u1757_div" class=""></div>
</div>

<!-- text in 2head -->
<div id="u1758" class="ax_default heading_1">
	<p><span>Загальний рейтинг гравців</span></p>
</div>

<!-- table body -->
<div id="u1690" class="ax_default box_1">
	<div id="u1690_div" class=""></div>
</div>

