<!-- Unnamed (Rectangle) -->
<div id="u1056" class="ax_default box_1">
	<div id="u1056_div" class=""></div>
	<div id="u1056_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- Unnamed (Droplist) -->
<div id="u1057" class="ax_default label">
	<p><span>Основні налаштування</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1058a" class="ax_default label">
	<p><span>Підписка</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1105" class="ax_default label">
	<p><span>Повідомлення</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1059" class="ax_default label">
	<p><span>Досягнення</span></p>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u1058" class="ax_default label">
	<p><span>Змінити пароль</span></p>
</div>





<div id="u1061" class="ax_default box_1">
	<div id="u1061_div" class=""></div>
	<div id="u1061_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<div id="u1062" class="ax_default heading_1">
		<p><span>Основні налаштування</span></p>
	</div>