@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
	<title>Преміум статус</title>
	<link rel="stylesheet" href="../css/site.css" />
	<link rel="stylesheet" href="../../wwwroot/axure/css/PremiumStyle.css" />
</head>
<body>

	<!--главный квадрат-->
	<div id="u1238" class="ax_default" data-left="387" data-top="180" data-width="666" data-height="520">
		<div id="u1239" class="ax_default box_1">
			<div id="u1239_div" class=""></div>
			<div id="u1239_text" class="text " style="display:none; visibility: hidden">
				<p></p>
			</div>
		</div>
	</div>

	<!--заголовок-->
	<div id="u1257" class="ax_default heading_1">
		<div id="u1257_div" class=""></div>
		<div id="u1257_text" class="text ">
			<p><span>Преміум статус</span></p>
		</div>
	</div>

	<!-- коронка -->
	<div id="u1258" class="ax_default image">
		<img id="u1258_img" class="img " src="Images/crown.png" />
		<div id="u1258_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!--список с галочками-->
	<div id="u1240" class="ax_default label">
		<div id="u1240_div" class=""></div>
		<div id="u1240_text" class="text ">
			<p><span>Відключення реклами</span></p><p><span>Необмежений доступ до усіх вікторин</span></p><p><span>Необмежений доступ до тимчасових вікторин</span></p><p><span>Інші бонуси</span></p>
		</div>
	</div>

	<!-- галка1 -->
	<div id="u1241" class="ax_default icon">
		<img id="u1241_img" class="img " src="Images/tick.png" />
		<div id="u1241_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!-- галка2 -->
	<div id="u1242" class="ax_default icon">
		<img id="u1242_img" class="img " src="Images/tick.png" />
		<div id="u1242_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!-- галка3 -->
	<div id="u1243" class="ax_default icon">
		<img id="u1243_img" class="img " src="Images/tick.png" />
		<div id="u1243_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!-- галка4 -->
	<div id="u1244" class="ax_default icon">
		<img id="u1244_img" class="img " src="Images/tick.png" />
		<div id="u1244_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!-- левая пропозиция -->
	<div id="u1246" class="ax_default" data-left="495" data-top="398" data-width="165" data-height="193">
		<div id="u1247" class="ax_default box_1">
			<div id="u1247_div" class=""></div>
			<div id="u1247_text" class="text " style="display:none; visibility: hidden">
				<p></p>
			</div>
		</div>

		<div id="u1248" class="ax_default label">
			<div id="u1248_div" class=""></div>
			<div id="u1248_text" class="text ">
				<p><span>VIP на 1 місяць</span></p>
			</div>
		</div>

		<div id="u1249" class="ax_default heading_1">
			<div id="u1249_div" class=""></div>
			<div id="u1249_text" class="text ">
				<p><span>75 гривень</span></p>
			</div>
		</div>

		<div id="u1250" class="ax_default primary_button">
			<div id="u1250_div" class=""></div>
			<div id="u1250_text" class="text ">
				<p><span>КУПИТИ</span></p>
			</div>
		</div>
	</div>


	<!-- правая пропозиция -->
	<div id="u1251" class="ax_default" data-left="780" data-top="398" data-width="165" data-height="193">
		<div id="u1252" class="ax_default box_1">
			<div id="u1252_div" class=""></div>
			<div id="u1252_text" class="text " style="display:none; visibility: hidden">
				<p></p>
			</div>
		</div>

		<div id="u1253" class="ax_default box_1">
			<div id="u1253_div" class=""></div>
			<div id="u1253_text" class="text " style="display:none; visibility: hidden">
				<p></p>
			</div>
		</div>

		<div id="u1254" class="ax_default label">
			<div id="u1254_div" class=""></div>
			<div id="u1254_text" class="text ">
				<p><span>VIP на 2 місяці</span></p>
			</div>
		</div>

		<div id="u1255" class="ax_default heading_1">
			<div id="u1255_div" class=""></div>
			<div id="u1255_text" class="text ">
				<p><span>130 гривень</span></p>
			</div>
		</div>

		<div id="u1256" class="ax_default primary_button">
			<div id="u1256_div" class=""></div>
			<div id="u1256_text" class="text ">
				<p><span>КУПИТИ</span></p>
			</div>
		</div>
	</div>


	<!-- самый низ -->
	<div id="u1245" class="ax_default label">
		<div id="u1245_div" class=""></div>
		<div id="u1245_text" class="text ">
			<p><span style="font-family:'Segoe UI Обычный', 'Segoe UI', sans-serif;font-weight:400;">Якщо у вас виникли питання ви можете надіслати їх на адресу </span><span style="font-family:'Segoe UI Полужирный', 'Segoe UI Обычный', 'Segoe UI', sans-serif;font-weight:700;">quizability.info@gmail.com</span></p>
		</div>
	</div>

</body>
</html>
