@model IEnumerable<UserQuiz>
@{
    Dictionary<int, double?> users = new Dictionary<int, double?>();
    int count = 1;
    var q = Model.OrderByDescending(qr => qr.Points).ToList();
    foreach (var item in Model)
    {
        if(!users.ContainsKey(item.UserId))
        {
            List<int> quizesL = new List<int>();
            foreach (var it in q)
            {
                if (!quizesL.Contains(it.QuizId))
                {
                    List<UserQuiz> check = Model.Where(ch => ch.UserId == item.UserId && ch.QuizId == it.QuizId).ToList();
                    if(check?.Any()==true)
                    {
                        quizesL.Add(it.QuizId);
                    }

                }
            }
            double? sumPoints = 0;
            foreach(var it in quizesL)
            {
                sumPoints += q.Where(uq => uq.UserId == item.UserId && uq.QuizId == it).Select(p => p.Points).First();
            }
            users.Add(item.UserId, sumPoints);
        }
    }
    var orderedUsers = users.OrderByDescending(x => x.Value).ToDictionary(x => x.Key, x => x.Value);
}
<div class="container">
    <div>
        <div id="u7_diff" class="ax_default heading_3">
            <div id="u7_div_diff" class="">
                <div id="u7_text" class="text ">
                    <p><span>Рейтинг гравців сайту</span></p>
                </div>
            </div>
        </div>
        <div>
            <table border="3" bgcolor="white" align="center" cellpadding="10px" >
                <tr>
                    <th style="text-align:center">Місце</th>
                    <th style="text-align:center">Логін</th>
                    <th style="text-align:center">Кількість пройдених вікторин</th>
                    <th style="text-align:center">Загальна кількість балів</th>
                </tr>
                @foreach (var item in orderedUsers)
                {
                    List<int> quizesList = new List<int>();
                    List<UserQuiz> userQuizzes = Model.Where(uq => uq.UserId == item.Key).ToList();
                    foreach(var it in userQuizzes)
                    {
                        if(!quizesList.Contains(it.QuizId))
                        {
                            quizesList.Add(it.QuizId);
                        }
                    }
                    int quizes = quizesList.Count();
                    UserQuiz userQ = Model.Where(u => u.UserId == item.Key).First();
                    <tr><td style="text-align:center">@count</td>
                    <td style="text-align:center">@userQ.User.Name</td>
                    <td style="text-align:center">@quizes</td>
                    <td style="text-align:center">@item.Value</td></tr>
                    count++;
                }
            </table>
        </div>
    </div>
</div>