@{
    ViewData["Title"] = "Home Page";
}
<div id="u0" class="ax_default image">
    <img id="u0_img" class="img" src="~/images/backgroundTopImage.jpg">
</div>
<!-- Unnamed (Rectangle) -->
<div id="u5" class="ax_default heading_1">
    <div id="u5_text" class="text ">
        <p><span>Розважайтесь та вивчайте</span></p><p><span>програмування з нами!</span></p>
    </div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u6" class="ax_default primary_button">
    <div id="u6_div" class=""></div>
    <div id="u6_text" class="text ">
        <p><span>Розпочати!</span></p>
    </div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u7" class="ax_default heading_3">
    <div id="u7_div" class=""></div>
    <div id="u7_text" class="text ">
        <p><span>Тимчасові вікторини</span></p>
    </div>
</div>
<!-- Unnamed (Rectangle) -->
<div id="u8" class="ax_default box_2">
    <div id="u8_div" class=""></div>
    <img id="u9_img" class="img " src="images/index/regen/u9.svg" />
    <div id="u8_text" class="text " style="display:none; visibility: hidden">
        <p></p>
    </div>
    <!-- Unnamed (Rectangle) -->
    <div id="u11" class="ax_default heading_3">
        <div id="u11_text" class="text ">
            <p><span>Основи програмування </span></p>
        </div>
    </div>
    <div id="u10_div" class=""></div>
    <div id="u10_text" class="text ">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et mag</span></p><p><span>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </span></p>
    </div>
</div>

