@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--- main --->
<div id="u739" class="ax_default box_1">
	<div id="u739_div" class=""></div>
	<div id="u739_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!--- button --->
<div id="u740" class="ax_default button">
	<div id="u740_div" class=""></div>
	<div id="u740_text" class="text ">
		<p><span>Відновити</span></p>
	</div>
</div>

<div id="u778" class="ax_default" data-left="633" data-top="317" data-width="230" data-height="25">

	<div id="u779" class="ax_default" data-left="633" data-top="317" data-width="230" data-height="25">

		<div id="u780" class="ax_default text_field" data-label="+Email">
			<div id="u780_div" class=""></div>
			<input id="u780_input" type="email" value="" placeholder="Пошта" class="u780_input" />
		</div>
	</div>
</div>

<!--- icon --->
<div id="u781" class="ax_default icon">
	<img id="u781_img" class="img " src="" /><!---Вставить фото--->
	<div id="u781_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<div id="u776" class="ax_default label">
	<div id="u776_div" class=""></div>
	<div id="u776_text" class="text ">
		<p><span>Вже є аккаунт? </span></p>
	</div>
</div>

<div id="u777" class="ax_default label">
	<div id="u777_div" class=""></div>
	<div id="u777_text" class="text ">
		<p><span><a href="../LogIN/LogInIndex">Увійти</a></span></p>
	</div>
</div>