@model IEnumerable<Topic> 
<div class="container">
    @foreach (var topic in Model)
    {
        @if (topic.Quizes.Count != 0)
        {
    <div id="u7_diff" class="ax_default heading_3">
        <div id="u7_div" class="">
            <div id="u7_div_diff" class="">
                <div id="u7_text" class="text ">
                    <p><span>@topic.TopicName</span></p>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                @foreach (var quiz in topic.Quizes)
                {
                    @if (topic.TopicId == quiz.TopicId)
                    {
                        <div class="col-md-4">
                            <div class="card" id="plates" style="width: 18rem;">
                                <img class="card-img-top" src=@quiz.ImageSrc alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@quiz.QuizName</h5>
                                    <p class="card-text">@quiz.Description</p>
                                    <div id="hrefbtn">
                                        <a href="/Quiz/Details/@quiz.QuizId" class="btn btn-primary">Розпочати</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
</div>