@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- registr -->
<div id="u489" class="ax_default heading_1">
	<div id="u489_div" class=""></div>
	<div id="u489_text" class="text ">
		<p><span>Реєстрація</span></p>
	</div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u425" class="ax_default box_1">
	<div id="u425_div" class=""></div>
	<div id="u425_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>
<!-- Unnamed (Shape) -->
<div id="u426" class="ax_default icon">
	<img id="u426_img" class="img " src="../../wwwroot/Images/login.png" />
	<div id="u426_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- Unnamed (Shape) -->
<div id="u427" class="ax_default icon">
	<img id="u427_img" class="img " src="images/registration/u427.svg" />
	<div id="u427_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- +Email (Text Field) -->
<div id="u428" class="ax_default text_field" data-label="+Email">
	<div id="u428_div" class=""></div>
	<input id="u428_input" type="email" value="" class="u428_input" />
</div>

<!-- +Login field (Text Field) -->
<div id="u429" class="ax_default text_field" data-label="+Login field">
	<div id="u429_div" class=""></div>
	<input id="u429_input" type="text" value="" pattern="Логін" class="u429_input" />
</div>

<!-- Unnamed (Shape) -->
<div id="u430" class="ax_default icon">
	<img id="u430_img" class="img " src="images/registration/u430.svg" />
	<div id="u430_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- Unnamed (Shape) -->
<div id="u431" class="ax_default icon">
	<img id="u431_img" class="img " src="images/registration/u431.svg" />
	<div id="u431_text" class="text " style="display:none; visibility: hidden">
		<p></p>
	</div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u432" class="ax_default label">
	<div id="u432_div" class=""></div>
	<div id="u432_text" class="text ">
		<p><span>Вже є аккаунт? </span></p>
	</div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u433" class="ax_default label">
	<div id="u433_div" class=""></div>
	<div id="u433_text" class="text ">
		<p><span>Увійти</span></p>
	</div>
</div>

<!-- +Password1 (Text Field) -->
<div id="u434" class="ax_default text_field" data-label="+Password1">
	<div id="u434_div" class=""></div>
	<input id="u434_input" type="password" value="" class="u434_input" />
</div>

<!-- +Password2 (Text Field) -->
<div id="u435" class="ax_default text_field" data-label="+Password2">
	<div id="u435_div" class=""></div>
	<input id="u435_input" type="password" value="" class="u435_input" />
</div>
<!-- +Email (Text Field) -->
<div id="u428" class="ax_default text_field" data-label="+Email">
	<div id="u428_div" class=""></div>
	<input id="u428_input" type="email" value="" class="u428_input" />
</div>

<!-- +Login field (Text Field) -->
<div id="u429" class="ax_default text_field" data-label="+Login field">
	<div id="u429_div" class=""></div>
	<input id="u429_input" type="text" value="" class="u429_input" />
</div>
<div id="u436" class="ax_default" data-left="603" data-top="512" data-width="246" data-height="28">

	<!-- Unnamed (Rectangle) -->
	<div id="u437" class="ax_default heading_3">
		<div id="u437_div" class=""></div>
		<div id="u437_text" class="text ">
			<p><span>Вхід через Google</span></p>
		</div>
	</div>

	<!-- Unnamed (Rectangle) -->
	<div id="u438" class="ax_default box_1">
		<div id="u438_div" class=""></div>
		<div id="u438_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>

	<!-- Unnamed (Image) -->
	<div id="u439" class="ax_default image">
		<img id="u439_img" class="img " src="images/registration/u439.png" />
		<div id="u439_text" class="text " style="display:none; visibility: hidden">
			<p></p>
		</div>
	</div>
</div>

<!-- Unnamed (Rectangle) -->
<div id="u453" class="ax_default button">
	<div id="u453_div" class=""></div>
	<div id="u453_text" class="text ">
		<p><span>Зареєструватися</span></p>
	</div>
</div>
